<mat-toolbar color="primary">

  <mat-toolbar-row>

    <span routerLink="/app/test" routerLinkActive="active">MyTestGenerator</span>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" matBadge="+99" matBadgeColor="warn">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/app/account">
        <mat-icon>account_circle</mat-icon>
        <span>My account</span>
      </button>
      <button mat-menu-item routerLink="/app/test">
        <mat-icon>dvr</mat-icon>
        <span>Do a test</span>
      </button>
      <button mat-menu-item routerLink="/app/create-item">
        <mat-icon>playlist_add</mat-icon>
        <span>Create item</span>
      </button>
      <button mat-menu-item routerLink="/app/see-item" disabled>
        <mat-icon>playlist_add_check</mat-icon>
        <span>Validates items</span>
      </button>
      <button mat-menu-item routerLink="/app/results">
        <mat-icon>trending_up</mat-icon>
        <span>See results</span>
      </button>
      <button mat-menu-item routerLink="/app/get-help" disabled>
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Call for help</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>
