<form [formGroup]="openItemForm">
  <mat-form-field>
    <input matInput type="text" name="description" id="description" formControlName="description" placeholder="Description"/>
    <mat-error *ngIf="openItemForm.get('description')?.invalid">must completed</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" name="correctAnswer" id="correctAnswer" formControlName="correctAnswer" placeholder="Answer"/>
    <mat-error *ngIf="openItemForm.get('correctAnswer')?.invalid">must completed</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select name="level" id="level" formControlName="level" placeholder="Select level">
      <mat-option *ngFor="let level of levels"
                  [value]="level">
                  {{level}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="openItemForm.get('level')?.invalid">must choose one</mat-error>
  </mat-form-field>

  <button type="button" (click)="onSubmit()">Create Item</button>
</form>
