<form [formGroup]="multipleChoiceItemForm">
  <mat-form-field>
    <input matInput type="text" name="description" id="description" formControlName="description" placeholder="Description"/>
    <mat-error *ngIf="multipleChoiceItemForm.get('description')?.invalid">Must complete the question</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select name="level" id="level" formControlName="level" placeholder="Select level">
      <mat-option *ngFor="let level of levels"
                  [value]="level">
        {{level}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="multipleChoiceItemForm.get('level')?.invalid">Must choose one level</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Write a choice" [(ngModel)]="newChoice" [ngModelOptions]="{standalone: true}"/>
    <mat-icon matSuffix aria-label="Add a choice" (click)="addChoice()">add_circle</mat-icon>
  </mat-form-field>

  <mat-radio-group class="radio-group" [(ngModel)]="multipleChoiceItemToCreate.correctAnswer" [ngModelOptions]="{standalone: true}">
    <mat-radio-button class="radio-button" color="primary" *ngFor="let choice of multipleChoiceItemToCreate.content" [value]="choice">
      {{choice}}
      <button mat-icon-button color="warn" (click)="deleteChoice(choice)">
        <mat-icon aria-label="delete this choice">delete_forever</mat-icon>
      </button>
    </mat-radio-button>
    <mat-error *ngIf="multipleChoiceItemToCreate.correctAnswer === null">Must choose one correct Answer</mat-error>
  </mat-radio-group>

  <button mat-raised-button color="primary" (click)="onSubmit()">Create Item</button>
</form>
