<form class="item-form-group" [formGroup]="openItemForm" (keydown.enter)="$event.preventDefault()" (submit)="submit()">
  <mat-form-field class="item-form-group-item">
    <input matInput type="text" name="description" id="description" formControlName="description" placeholder="Description"/>
    <mat-error *ngIf="openItemForm.get('description')?.invalid && openItemForm.get('description').touched">Must be completed</mat-error>
  </mat-form-field>

  <mat-form-field class="item-form-group-item">
    <mat-select name="level" id="level" formControlName="level" placeholder="Select level">
      <mat-option *ngFor="let level of levels"
                  [value]="level">
                  {{level}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="openItemForm.get('level')?.invalid && openItemForm.get('level').touched">Must be choosed</mat-error>
  </mat-form-field>

  <mat-form-field class="item-form-group-item">
    <input matInput type="text" name="correctAnswer" id="correctAnswer" formControlName="correctAnswer" placeholder="Answer"/>
    <mat-error *ngIf="openItemForm.get('correctAnswer')?.invalid && openItemForm.get('correctAnswer').touched">Must be completed</mat-error>
  </mat-form-field>

  <div class="item-form-group-item intem-form-group inline">
    <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Send Item</button>
  </div>
</form>
