<form class="item-form-group" [formGroup]="readingItemForm">
  <mat-form-field class="item-form-group-item">
    <textarea matInput name="description" id="description" formControlName="description" placeholder="Text for the subquestions" rows="9"></textarea>
    <mat-error *ngIf="readingItemForm.get('description')?.invalid">Must complete the reading text</mat-error>
  </mat-form-field>

  <mat-list class="item-form-group-item">
    <mat-list-item *ngFor="let item of readingItemForm.value.content">
      <mat-icon mat-list-icon color="warn" aria-label="delete this choice" (click)="deleteSubItem(item)">delete_forever</mat-icon>
      <mat-icon mat-list-icon color="accent" aria-label="modify this choice" (click)="modifySubItem(item)">create</mat-icon>

      <h4 mat-line>{{item.description}}</h4>
      <p mat-line class="italic"> {{item.type}} </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <div class="item-form-group-item intem-form-group inline">
    <mat-form-field>
      <mat-select placeholder="Choose an item type" [(ngModel)]="newItem" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="openItemToCreate">Open item</mat-option>
        <mat-option [value]="multipleChoiceItemToCreate">Multiple choice item</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="createSubItem()">Open dialog</button>
  </div>

  <div class="item-form-group-item intem-form-group inline">
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()">Send Item</button>
  </div>
</form>
