<form [formGroup]="filterForm">

  <mat-form-field>
    <mat-label for="description"><b>Description</b></mat-label>
    <input matInput type="text"
           name="description"
           id="description"
           placeholder="Description"
           formControlName="description"
           (keyup)="send()"/>
  </mat-form-field>

  <mat-form-field  (change)="send()">
    <mat-label for="type"><b>Type</b></mat-label>
    <mat-select id="type" name="type" formControlName="type">

      <mat-option [value]="null">-- None --</mat-option>
      <mat-option [value]="'OpenItem'">Open Item</mat-option>
      <mat-option [value]="'MultipleChoiceItem'">Multiple Choice Item</mat-option>
      <mat-option [value]="'ReadingItem'">Reading Item</mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="level"><b>Level</b></mat-label>
    <mat-select id="level" name="level" formControlName="level" (change)="send()">

      <mat-option [value]="null">-- None --</mat-option>
      <mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>

    </mat-select>
  </mat-form-field>


  <div>
    <mat-label for="all"><b>All : </b></mat-label>
    <mat-slide-toggle color="primary"
                      id="all"
                      name="all"
                      formControlName="all">
    </mat-slide-toggle>
  </div>



</form>
