form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form > * {
  width: 80%;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

